@using eProduccion.Components.Dialogs
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a NavLink="#" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">eProducción</h3>
        </a>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-wrench me-2"></i>Producci&oacute;n
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a class="dropdown-item" @onclick='() => Navegar("/planificacionot")'>Planificaci&oacute;n OT</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/inyeccion")'>Inyecci&oacute;n</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/extrusion")'>Extrusi&oacute;n</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/planificacionensamble")'>Planificaci&oacute;n ensamble</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/armado")'>Armado</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/flowpack")'>Flowpack</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/sachetera")'>Sachetera</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/sellado")'>Sellado</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/horneado")'>Horneado</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/empaquetado")'>Empaquetado</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/prensa")'>Prensa</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/grabado-laser")'>Grabado láser</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/pendientemolinar")'>Pendiente a molinar</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/molino")'>Molino</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-users me-2"></i>Gesti&oacute;n de Accesos
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a class="dropdown-item" @onclick='() => Navegar("/usuarios")'>Usuarios</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/roles")'>Roles</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/usuariosroles")'>Usuarios Roles</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Permisos</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-cogs me-2"></i>Configuraci&oacute;n
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a class="dropdown-item" @onclick="AbrirModalEstructura">Crear estructura</a>
                    <a class="dropdown-item" @onclick='() => Navegar("/parametrizacion")'>Parametrizaci&oacute;n</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Sidebar End -->
@code {
    private async Task AbrirModalEstructura()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        await DialogService.ShowAsync<EstructuraDialog>("Generar estructura", options);
    }

    private void Navegar(string ruta)
    {
        NavigationManager.NavigateTo(ruta);
    }
}