@using eProduccion.Components.Dialogs
@using eProduccion.Models
@using eProduccion.Security
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject UserSession UserSession

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a NavLink="#" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">EMSA INMOBILIARIA</h3>
        </a>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-wrench me-2"></i>Gestion de Cobranza
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    @if (UserSession.TienePermiso(PermisosSistema.Lotes))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/planificacionot")'> Lotes  Inmuebles</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Inyeccion))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/inyeccion")'>Alta de clientes y proveedores</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Extrusion))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/extrusion")'>Seña de lote </a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.PlanificacionEnsamble))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/planificacionensamble")'>Generacion de contracto</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Armado))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/armado")'>Comisiones a vendedores</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Flowpack))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/flowpack")'>Planes de comisio a vendedores</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Sachetera))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/sachetera")'>Planes de ventas</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Sellado))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/sellado")'>Consulta de estado de contratos</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Horneado))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/horneado")'>Listado de lotes libres</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Empaquetado))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/empaquetado")'>Ventas realizadas</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Prensa))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/prensa")'>Reporte de recupero y renuncias</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.GrabadoLaser))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/grabado-laser")'>Reporte para Seprelad</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.PendienteMolinar))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/pendientemolinar")'>Redefinar cuota de contrato</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Molino))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/molino")'>Asigacion de operadores a fraccions</a>
                    }
                </div>
            </div>
            @if (UserSession.TienePermiso(PermisosSistema.GestionAccesos))
            {
                <div class="nav-item dropdown">
                    <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i>Gesti&oacute;n de Accesos
                    </a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a class="dropdown-item" @onclick='() => Navegar("/usuarios")'>Usuarios</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/roles")'>Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/usuariosroles")'>Usuarios Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Permisos</a>
                    </div>
                </div>
            }
            @if (UserSession.TienePermiso(PermisosSistema.GestionAccesos))
            {
                <div class="nav-item dropdown">
                    <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i> Inteligencia de Negocios
                    </a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a class="dropdown-item" @onclick='() => Navegar("/usuarios")'>Liquidación de propietario</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/roles")'>Consulta de liquidacio por propietario</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/usuariosroles")'>Reporte de redición de propietarios</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Reportede liquidación de propietarios</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Consulta de facturas</a>
                    </div>
                </div>
            }
            @if (UserSession.TienePermiso(PermisosSistema.GestionAccesos))
            {
                <div class="nav-item dropdown">
                    <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i> Obras y Proyectos
                    </a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a class="dropdown-item" @onclick='() => Navegar("/usuarios")'>Loteamiento / Fracciones</a>
                     @*    <a class="dropdown-item" @onclick='() => Navegar("/roles")'>Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/usuariosroles")'>Usuarios Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Permisos</a> *@
                    </div>
                </div>
            }

            @if (UserSession.TienePermiso(PermisosSistema.GestionAccesos))
            {
                <div class="nav-item dropdown">
                    <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i>Comercial 
                    </a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a class="dropdown-item" @onclick='() => Navegar("/usuarios")'>Usuarios</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/roles")'>Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/usuariosroles")'>Usuarios Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Permisos</a>
                    </div>
                </div>
            }

            @if (UserSession.TienePermiso(PermisosSistema.GestionAccesos))
            {
                <div class="nav-item dropdown">
                    <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i> Tesoreria
                    </a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a class="dropdown-item" @onclick='() => Navegar("/usuarios")'>Usuarios</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/roles")'>Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/usuariosroles")'>Usuarios Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Permisos</a>
                    </div>
                </div>
            }

            @if (UserSession.TienePermiso(PermisosSistema.GestionAccesos))
            {
                <div class="nav-item dropdown">
                    <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i> Escrituraciones
                    </a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a class="dropdown-item" @onclick='() => Navegar("/usuarios")'>Usuarios</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/roles")'>Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/usuariosroles")'>Usuarios Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Permisos</a>
                    </div>
                </div>
            }

            @if (UserSession.TienePermiso(PermisosSistema.GestionAccesos))
            {
                <div class="nav-item dropdown">
                    <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i> Contabilidad
                    </a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a class="dropdown-item" @onclick='() => Navegar("/usuarios")'>Usuarios</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/roles")'>Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/usuariosroles")'>Usuarios Roles</a>
                        <a class="dropdown-item" @onclick='() => Navegar("/permisos")'>Permisos</a>
                    </div>
                </div>
            }
            <div class="nav-item dropdown">
                <a NavLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-cogs me-2"></i>Configuraci&oacute;n
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    @if (UserSession.TienePermiso(PermisosSistema.GenerarEstructura))
                    {
                        <a class="dropdown-item" @onclick="AbrirModalEstructura">Crear estructura</a>
                    }
                    @if (UserSession.TienePermiso(PermisosSistema.Parametrizacion))
                    {
                        <a class="dropdown-item" @onclick='() => Navegar("/parametrizacion")'>Parametrizaci&oacute;n</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Sidebar End -->
@code {
    private async Task AbrirModalEstructura()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        await DialogService.ShowAsync<EstructuraDialog>("Generar estructura", options);
    }

    private void Navegar(string ruta)
    {
        NavigationManager.NavigateTo(ruta);
    }
}