@page "/"
@layout Components.Layout.EmptyLayout
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Web
@using eProduccion.Data
@using eProduccion.Models
@rendermode InteractiveServer
@inject ConnectionService ConnectionService
@inject NavigationManager NavigationManager
@inject UserSession UserSession

<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h3 class="text-primary">eProducción</h3>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" @bind="BaseDatos">
                            <option value="ASTSA" selected>ASTSA</option>
                            <option value="NEGOCIOS_QA">NEGOCIOS_QA</option>
                        </select>
                        <label>Base de Datos</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" @bind="Usuario" class="form-control" placeholder="Usuario">
                        <label>Usuario</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" @bind="Password" class="form-control" placeholder="Contrase&ncaron;a">
                        <label>Contrase&ncaron;a</label>
                    </div>
                    <button class="btn btn-primary py-3 w-100 mb-4" @onclick="IniciarSesion">Login</button>

                    @if (!string.IsNullOrEmpty(mensajeError))
                    {
                        <div class="alert alert-danger" role="alert">
                            @mensajeError
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>

@code {
    private string Usuario = "";
    private string Password = "";
    private string BaseDatos = "";
    private string mensajeError = "";

    private async Task IniciarSesion()
    {
        mensajeError = "";

        try
        {
            await Task.Run(() => ConnectionService.ConnectSAP(Usuario, Password, BaseDatos));
            NavigationManager.NavigateTo("/home");
        }
        catch (Exception ex)
        {
            mensajeError = ex.Message;
        }
    }
}
